html {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
  font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1rem;
  position: relative;
  width: 100%;
  height: 100%;
  color: #1c1b20;
  background-color: #f8f8f8;
}

section {
  padding: 75px 0 75px;
  position: relative;
  background: #f8f8f8
}

footer {
  overflow: hidden;
}

ul {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  p {
    font-size: 14px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

p a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0, #4cab9e));
  background-image: linear-gradient(180deg, transparent 0, #4cab9e 0);
  -webkit-transition: background-position .25s ease-out;
  transition: background-position .25s ease-out;
  line-height: 22px;
  background-position: 0 18px;
  background-repeat: no-repeat;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  color: #0a1529;
}

@media (min-width: 768px) {
  p a {
    background-position: 0 16px;
  }
}

p a:hover {
  color: #f8f8f8;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0, rgba(76, 171, 158, 0.8)));
  background-image: linear-gradient(180deg, transparent 0, rgba(76, 171, 158, 0.8) 0);
  background-position: 0 0;
}

a {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #1c1b20;
}

a:focus, a:hover {
  color: #4cab9e;
  text-decoration: none;
}

li a {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  color: #4cab9e;
}

@media (min-width: 768px) {
  li a {
    color: #1c1b20;
  }
}

#logo {
  display: none;
}

.title {
  position: relative;
}
.title svg {
  font-size: 0.65em;
}

.title.affix {
  position: fixed;
  top: 20px;
  width: 50%;
  z-index: 400;
  margin: 0 auto;
  left: 0;
  right: 0;
  font-size: 0.85rem;
}
@media (min-width: 768px) {
  .title.affix {
    width: 30%;
  }
}


.title.affix a{
  background: #4cab9e;
  padding: 10px 20px;
  border-radius: 20px;
  color: #fff;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.15);
          box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.15);
}

.title.affix a:hover{
  background: #50b5a7 radial-gradient(circle, transparent 1%, #50b5a7 1%) center/15000%;
}

.title.affix a:active{
  background-color: #41968a;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

.sticky-top {
  top: 10%;
  z-index: 100;
}

hr {
  border-top: 3px solid rgb(196, 181, 157);
  max-width: 100px;
}

.sec-title {
  font-size: 5rem;
  text-transform: uppercase;
  line-height: 4rem;
  font-weight: unset;
  font-family: 'Chivo', sans-serif;
  font-weight: 800;
  margin: 0 0 25px;
}

@media (min-width: 768px) {
  .sec-title {
    font-size: 4rem;
  }
}

.copyright {
  font-family: 'Chivo', sans-serif;
  font-size: .65rem;
}

.masthead {
  display: table;
  height: 100%;
  width: 100%;
  padding: 0;
  text-align: center;
  color: white;
  background-size: cover;
}

.masthead .intro-body {
  background: #ece5da;
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-family: 'Chivo', sans-serif;
  display: inline-block;
  margin: 0;
  text-align: left;
  color: #f1ebe5;
  text-shadow: 0 13.36px 8.896px #c4b59d, 0 -2px 1px #fff;
  font-size: 110px;
  line-height: 100px;
  text-transform: uppercase;
}

.masthead .intro-body .intro-text, .masthead .intro-body .resume-text {
  font-size: 17px;
  padding-top: 10px;
  text-align: center;
  color: #c5b59d;
}
.masthead .intro-body .resume-text a {
  color: #c5b59d;
  background-image: none;
}

.masthead .intro-body .resume-text a svg{
  color: #4cab9e;
  opacity: 0.85;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}
.masthead .intro-body .resume-text a svg:hover{
  opacity: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
  }

  .masthead .intro-body .brand-heading {
    font-size: 150px;
    line-height: 120px;
    text-transform: uppercase;
  }

  .masthead .intro-body .intro-text, .masthead .intro-body .resume-text {
    font-size: 20px;
    text-align: center;
    color: #c5b59d;
  }


}

.bg-image-full {
  background-image: url(https://unsplash.it/1900/1080?image=1081);
  background: no-repeat center center scroll;
  background-size: cover;
  -o-background-size: cover;
  height: 85%;
  position: relative;
}

.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.btn {
  font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}
.btn-group-sm{
  border-radius: 20px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.15);
          box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.15);
}
.btn-group-sm>.btn{
  padding: .25rem 1rem;
  border-radius: 20px;
}

.btn-reid {
  color: #fff;
  background-color: #4cab9e;
  border-color: #4cab9e;
  border-radius: 30px;
  }
.btn-reid:hover{
  background: #50b5a7 radial-gradient(circle, transparent 1%, #50b5a7 1%) center/15000%;
  color:#fff;
  -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.15), 0 5px 8px rgba(0,0,0,0.20);
          box-shadow: 0 5px 8px rgba(0,0,0,0.15), 0 5px 8px rgba(0,0,0,0.20);
}
.btn-reid:active{
  background-color: #41968a;
  color:#fff;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

/* Ripple effect */
.ripple {
  background-position: center;
  -webkit-transition: background 0.9s;
  transition: background 0.9s;
}

.ripple:hover {
  background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
}

.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }

  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

.sittingme {
  z-index: 200;
  position: relative;
  left: 0px;
}

.sidestats {
  font-family: 'Marion', serif;
  -webkit-font-smoothing: antialiased;
  width: 307px;
  height: 120px;
  z-index: 100;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 12px;
  line-height: 14px;
  border-left: 2px solid #1c1b20;
  padding: 0px 0px 0px 5px;
  margin-left: -95px;
  margin-top: -25px;
}

.sidestats ul {
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  height: 64px;
  padding: 0;
  list-style-type: none;
  border-bottom: 1px solid #8e8e8e;
  text-align: left;
}

.sidestats ul li ul {
  border: 0;
}

.sidestats ul li {
  width: 150px;
  float: left;
}

.sidestats ul li:last-child {
  width: 80px;
}

.side_blurb {
  font-family: 'Marion', serif;
  font-size: 12px;
  text-align: right;
  width: 215px;
  margin-top: 5px;
  display: inline-table;
  line-height: 1.25em;
}

#work h1 {
  font-family: 'Chivo', sans-serif;
  font-weight: 800;
  font-size: 1.65rem;
  margin: 0 0 20px;
}

#work h1 a {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0, #4cab9e));
  background-image: linear-gradient(180deg, transparent 0, #4cab9e 0);
  -webkit-transition: background-position .25s ease-out;
  transition: background-position .25s ease-out;
  line-height: 22px;
  background-position: 0 29px;
  background-repeat: no-repeat;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  color: #0a1529;
}

#work h1 a:hover {
  color: #0a1529;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, transparent), color-stop(0, rgba(255, 87, 81, 0.8)));
  background-image: linear-gradient(180deg, transparent 0, rgba(255, 87, 81, 0.8) 0);
  background-position: 0 0;
}

@media (min-width: 768px) {
  #work h1 {
    font-size: 2.25rem;
  }

  #work h1 a {
    background-position: 0 40px;
  }
}

.test {
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

/* Work */
.card-custom {
  overflow: hidden;
  min-height: 450px;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
  opacity: 0.85;
}

.card-custom:hover {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  color: #000;
  opacity: 1;
}
.card-custom:hover .icon{
  opacity: 0.9;
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.card-custom:hover .card-custom-img{
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
          -webkit-transform-origin: center;
                  transform-origin: center;
}
.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-color: inherit;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.toDo-header {
  background-image: url(../img/toDos-cardHeader.jpg);
}

.marxFoods-header {
  background-image: url(../img/marxFoods-cardHeader.jpg);
}

.marxFood-header {
  background-image: url(../img/marxFood-cardHeader.jpg);
}

.marxImports-header {
  background-image: url(../img/marxImports-cardHeader.jpg);
}

.naFood-header {
  background-image: url(../img/naFood-cardHeader.jpg);
}

.ferryTales-header {
  background-image: url(../img/ferryTales-cardHeader.jpg);
}

.creative-header {
  background-image: url(../img/creative-cardHeader.jpg);
}

/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  color: #fff;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.card-custom-avatar img {
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: absolute;
  top: 125px;
  left: 1.25rem;
  width: 75px;
  height: 75px;
}

.no-gutter-card-deck.card-columns {
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.no-gutter-card-deck>.card {
  margin: 0;
  border-radius: 0;
  border: none;
}

.sr-fade {
  visibility: hidden
}

.skills-container {
  padding: 60px 20px;
  overflow: hidden;
  background-color: #1c1b20;
}

@media (min-width: 992px) {
  .skills-container {
    padding: 40px;
  }
}

.skills-container h4 {
  color: #fff;
  padding-bottom: 5px;
  font-size: 1rem;
}

.skills-container li {
  color: #afafaf;
  padding-top: 5px;
  font-size: 0.9rem;
  font-family: 'chivo', sans-serif;
  font-weight: 400;
  list-style: none;
}

.waves svg>* {
  fill: none;
  stroke: #4cab9e;
  stroke-width: 5px;
}

/* MODALS */
.modal-header {
  padding: 1rem 1rem 0;
  border-bottom: 0;
}

.modal-footer {
  border-top: 0;
}

.modal-btn {
  margin-top: -65px;
  z-index: 100;
}

footer {
  z-index: 300;
  position: absolute;
  width: 100%;
}

footer p {
  font-size: 14px;
  margin: 0;
}

/*footer accordion */
#accordion {
  bottom: 0;
  width: 100%;
}

.panel-heading {
  padding: 0;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.panel-group .panel {
  border-radius: 0;
  background: #FFF;
}

.panel-title a {
  font-family: 'Chivo', sans-serif;
  text-align: center;
  font-weight: 700;
  list-style: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.panel-title a:hover,
.panel-title a:focus,
.panel-title a:active {
  text-decoration: none;
  outline: none;
}

a.collapsed {
  -webkit-transition: ease .45s;
  transition: ease .45s;
}

.subText {
  display: block;
  margin: 0;
  text-align: left;
}

::-moz-selection {
  background: #ece5da;
  text-shadow: none;
}

::selection {
  background: #ece5da;
  text-shadow: none;
}

img::-moz-selection {
  background: transparent;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

body {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}

/* --------------------------------
  Auto-Hiding Navigation
-------------------------------- */
.cd-auto-hide-header {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.85);
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
  -webkit-box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
          box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}

.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
    height: 60px;
  }
}

.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 5%;
}

.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}

.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}

.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
}

.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}

@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}

.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 5%;
}

.cd-primary-nav>ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  -webkit-box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}

.cd-primary-nav>ul a {
  /* target primary-nav links */
  font-family: 'Chivo', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  display: block;
  color: #25283D;
  font-size: 1rem;
}

.cd-primary-nav>ul a:hover, .cd-primary-nav>ul a.active {
  color: #4cab9e;
}

@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }

  .cd-primary-nav>ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .cd-primary-nav>ul::after {
    clear: both;
    content: "";
    display: block;
  }

  .cd-primary-nav>ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }

  .cd-primary-nav>ul li:last-of-type {
    margin-right: 0;
  }

  .cd-primary-nav>ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    list-style: none;
    font-size: 0.95rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    z-index: 500;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /*
  	show primary nav - mobile only
  	:target is used to show navigation on no-js devices
  */
  display: block;
}

@media only screen and (min-width: 1024px) {

  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}

/* social and contact */
.list-socials {
  position: absolute;
  z-index: 300;
  top: 13px;
  left: 0;
  right: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  list-style-type: none;
  width: 50%;

}
ul.list-socials li {
  display: inline-block;
}

ul.list-socials {

}

@media (min-width: 768px) {
  .list-socials {
    top: 13px;
    width: 30%;
  }
}

.close-btn a {
    border: none;
    padding: 7px 11px;
    font-size: 0.75rem;
    border-radius: 20px;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.close-btn a:hover {
    border: none;
    background-color: #4cab9e;
    color: #fff;
    padding: 7px 11px;
    font-size: 0.75rem;
    border-radius: 20px;
    -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.15), 0 5px 8px rgba(0,0,0,0.20);
            box-shadow: 0 5px 8px rgba(0,0,0,0.15), 0 5px 8px rgba(0,0,0,0.20);
}

.has-error .form-control:focus {
  /* border-color: #843534; */
  -webkit-box-shadow: 0;
  box-shadow: none;
}

.has-error .form-control {
  border-color: red;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control:focus {
  border-color: #66afe9;
  background: #FFF;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
  display: block;
  margin-top: 0;
  width: 100%;
  padding: 5px 12px;
  font-size: 14px;
  color: #555;
  background-color: #FFF;
  border-color: #1c1b20;
  border-radius: 0;
  background-image: none;
  border-width: 0 0 2px 0;
  -webkit-box-shadow: 0;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.form-group {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: 'Chivo', sans-serif;
  color: #1c1b20;
  font-size: 1rem;
  font-weight: 400;
  cursor: text;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

.message {
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: 'Chivo', sans-serif;
  color: #1c1b20;
  font-size: 1rem;
  font-weight: 400;
  cursor: text;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

textarea {
  overflow: auto;
  resize: vertical;
  background: #FFF;
  border-width: 0 0 2px 0;
  border-color: #1c1b20;
  margin-top: .5rem;
  padding: 10px 12px 0;
}

textarea, input, button {
  outline: none;
}

.input-text:focus+.label, .input-text.not-empty+.label {
  -webkit-transform: scale(0.85) translate(-20px, -20px);
  transform: translate(-5px, -25px);
  font-size: 0.85rem;
}

.with-errors {
  position: absolute;
  font-size: .75rem;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #FFF inset;
}

/* Borders */
.borders>* {
  position: fixed;
  z-index: 100;
  background: #FFF;
  height: 20px;
  width: 20px;
  pointer-events: none;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transition: -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  transition: transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms, -webkit-transform 500ms cubic-bezier(0.7, 0, 0.3, 1) 0ms;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
}

.menuOpen .borders>* {
  -webkit-transform: translate(0, 0%) scale(1) !important;
  transform: translate(0, 0%) scale(1) !important;
}

@media (min-width: 767px) {
  .menuOpen .borders>* {
    -webkit-transform: translate(0, 0%) scale(2) !important;
    transform: translate(0, 0%) scale(2) !important;
  }
}

.borders>*.top {
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform-origin: top center;
  transform-origin: top center;
}

@media (max-width: 766px) {
  .borders>*.top {
    -webkit-transform: translate(0, -100%) scale(1);
    transform: translate(0, -100%) scale(1);
  }
}

@media (min-width: 767px) {
  .borders>*.top {
    height: 50px;
  }
}

.borders>*.bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}

@media (max-width: 766px) {
  .borders>*.bottom {
    -webkit-transform: translate(0, 100%) scale(1);
    transform: translate(0, 100%) scale(1);
  }
}

@media (min-width: 767px) {
  .borders>*.bottom {
    height: 50px;
  }
}

.borders>*.right {
  top: 0;
  right: 0;
  height: 100%;
  -webkit-transform-origin: right center;
  transform-origin: right center;
}

@media (max-width: 766px) {
  .borders>*.right {
    -webkit-transform: translate(100%, 0px) scale(1);
    transform: translate(100%, 0px) scale(1);
  }
}

@media (min-width: 767px) {
  .borders>*.right {
    width: 50px;
  }
}

.borders>*.left {
  top: 0;
  left: 0;
  height: 100%;
  -webkit-transform-origin: left center;
  transform-origin: left center;
}

@media (max-width: 766px) {
  .borders>*.left {
    -webkit-transform: translate(-100%, 0px) scale(1);
    transform: translate(-100%, 0px) scale(1);
  }
}

@media (min-width: 767px) {
  .borders>*.left {
    width: 50px;
  }
}

/* loader */
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  z-index: 200;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: transparent;
  -webkit-box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.3);
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: transparent;
  -webkit-box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.3);
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: transparent;
  -webkit-box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.3);
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */
  }

  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #ece5da;
  z-index: 200;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */
}

/* Loaded */
.loaded #loader-wrapper .loader-section {
  -webkit-transform: scale(.75, 0.65);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: scale(.75, 0.65);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transform-origin: center;
  transform-origin: center;
  opacity: .4;
  -webkit-transition: ease-in-out .85s;
  transition: ease-in-out .85s;
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translate(0%, 0%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  /* IE 9 */
  transform: translate(0%, 0%);
  /* Firefox 16+, IE 10+, Opera */
  opacity: 0;
  -webkit-transition: all 0.45s 1s ease-out;
  transition: all 0.45s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}

.no-js h1 {
  color: #222222;
}

#content {
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
  max-width: 978px;
}

/* ==========================================================================
   interior pages
   ========================================================================== */
/* .project-navigation {
  bottom: 30px;
} */

/* .next-project, .previous-project {
  margin: 0 auto;
}

.next-project {
  right: 20px;
  position: absolute;
  color: #4cab9e;
  text-align: center;
  width: 50px;
}

.previous-project {
  left: 20px;
  position: absolute;
  color: #4cab9e;
  text-align: center;
  width: 50px;
}

.next-project p, .previous-project p {
    background: #4caa9e;
    padding: 12px;
    border-radius: 30px;
    color: #fff;
    font-size: 1em;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.15);
            box-shadow: 0 3px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.15);
    -webkit-transform: scale(.8);
            transform: scale(.8);
}


.next-project p:hover, .previous-project p:hover{
  background: #50b5a7 radial-gradient(circle, transparent 1%, #50b5a7 1%) center/15000%;
  -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.15), 0 5px 8px rgba(0,0,0,0.20);
          box-shadow: 0 5px 8px rgba(0,0,0,0.15), 0 5px 8px rgba(0,0,0,0.20);
}

.next-project p:active, .previous-project p:active {
  background-color: #41968a;
  background-size: 100%;
  -webkit-transition: background 0s;
  transition: background 0s;
} */


.circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.5);
}

.na-navy {
  background: #2a3034;
}

.na-cream {
  background: #fefdeb;
}

.na-gold {
  background: #a08e60;
}

.circle p {
  font-size: 12px;
  /* line-height: 1.6; */
  /* margin: 0 0 35px; */
  bottom: -60px;
  position: absolute;
  text-align: center;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}
}
